<article>
    <h1>User Info</h1>
    <p>Username: {{user.username}}</p>
    <p>First name: {{user.firstName}}</p>
    <p>Last name: {{user.lastName}}</p>
    <p>Profession: {{user.profession}}</p>
    <p>Biography: {{user.bio}}</p>
<article>
